body {
    background-color: #000;
    color: #0f0;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal {
    border: 2px solid #0f0;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

p {
    margin: 0;
    padding: 5px 0;
}

#current-time {
    font-weight: bold;
}

#current-date {
    font-weight: bold;
}
